html, body{
	margin: 0;
	font-family: "Raleway", "Arial", sans-serif;
}

nav{
	z-index: 100;
	position: fixed;
	width: 100%;
}

#menufix {
	display: flex;
	position: relative;
	z-index: 0;
	overflow: hidden;
	justify-content: flex-end;
}

/* Nav Bar CSS */
#navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	border-width: 1px;
	border-style: solid;
}

/* Align Left Elements */
a.navLeft {
	float: left;
}

a.navLeft:link, a.navLeft:visited{
	text-decoration: none;
	background-color: #000;
	color: white;
	font-weight: normal;
	padding: 1vw;
}

a.navLeft:hover, a.navLeft:active, a.navLeft:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 1vw;
}

/* Align Right Elements */
a.navRight {
	float: right;
}
a.navRight:link, a.navRight:visited{
	text-decoration: none;
	background-color: #000;
	color: white;
	font-weight: normal;
	padding: 1vw;
}

a.navRight:hover, a.navRight:active, a.navRight:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 1vw;
}

/* Special Page Layout CSS via DIV */
div.spacer {
	width:100%;
	height: 2.5vh;
	overflow: hidden;
}

div.centerer, div.allcenterer{
	display: flex;
	justify-content: center;
}

div.contained{
	padding-left: 10vw;
	padding-right: 10vw;
}

.content{
	text-align: center;
}

img.navicon{
	justify-content: center;
	max-width: 10vh;
	max-height: 10vh;
	width: 1em;
	height: 1em;
}

img.rounded{
	border-radius: 50%;
}

img.m40t30d20{
	width: 20%;
	height: 20%;
}

#navPad {
	padding: 1%;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1%;
	margin-bottom: 0px;
}

/* Generic Link Styling */
a:link, a:visited{
	text-decoration: none;
	color: #888;
}

a:hover, a:active, a:focus{
	text-decoration: none;
	color: #000;
}

/* Card Styling */
.card {
	flex: 1;
	padding: 2vw;
	margin: 1vw;
	max-width: 30vw;
	text-align: left;
	background-color: cornsilk;
}

.card_flex{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}