html, body{
	margin: 0;
	font-family: "Raleway", "Arial", sans-serif;
}

nav{
	z-index: 100;
	position: fixed;
	width: 100%;
}

#menufix {
	display: flex;
	position: relative;
	z-index: 0;
	overflow: hidden;
	justify-content: flex-end;
}

/* Nav Bar CSS */
#navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

/* Special Nav Bar Case (Cut off "right" 3 nav together)*/
#mobileNav {
	width: 100vw;
	float: left;
	background-color: #aaa;
}

/* Align Left Elements */
a.navLeft {
	float: left;
}

a.navLeft:link, a.navLeft:visited{
	text-decoration: none;
	background-color: #000;
	color: white;
	font-weight: normal;
	padding: 3%;
}

a.navLeft:hover, a.navLeft:active, a.navLeft:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 3%;
}

/* Desktop/Tablet Align right, MOBILE ALIGN LEFT */
a.navRight {
	/* MOBILE NAV SPECIAL */
	float: left;
}

a.navRight:link, a.navRight:visited{
	text-decoration: none;
	background-color: #aaa;
	color: white;
	font-weight: normal;
	padding: 3%;
}

a.navRight:hover, a.navRight:active, a.navRight:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 3%;
}

/* Special Page Layout CSS via DIV */
div.spacer {
	width:100%;
	overflow: hidden;
}

div.centerer{
	display: flex;
	justify-content: left;
}

div.allcenterer {
	display: flex;
	justify-content: center;
	/* True Center (Compensate for div contained) */
	padding-left: 6vw;
}

div.contained{
	padding-left: 2vw;
	padding-right: 8vw;
}

.content{
	text-align: left;
}

img.navicon{
	max-width: 10vh;
	max-height: 10vh;
	width: 1em;
	height: 1em;
}

img.rounded{
	border-radius: 50%;
}

footer {
	background-color: black;
	color: white;
	text-align: left;
	padding: 1%;
	margin-bottom: 0px;
}

/* Generic Link Styling */
a:link, a:visited{
	text-decoration: none;
	color: #888;
}

a:hover, a:active, a:focus{
	text-decoration: none;
	color: #000;
}