html, body{
	margin: 0;
	font-family: "Raleway", "Arial", sans-serif;
	/* background: black; */
}

/* CSS Position */
nav{
	z-index: 100;
	position: fixed;
	width: 100%;
}

/* Nav Bar CSS */
#navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	border-width: 1px;
	border-style: solid;
}

/* CSS Float */
a.navLeft {
	float: left;
}

a.navLeft:link, a.navLeft:visited{
	text-decoration: none;
	background-color: #000;
	color: white;
	font-weight: normal;
	padding: 1% 1%;
}

a.navLeft:hover, a.navLeft:active, a.navLeft:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 1% 1%;
}

/* CSS Float */
a.navRight {
	float: right;
}
a.navRight:link, a.navRight:visited{
	text-decoration: none;
	background-color: #000;
	color: white;
	font-weight: normal;
	padding: 1%;
}

a.navRight:hover, a.navRight:active, a.navRight:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 1%;
}

/* Other CSS */
div.fsimage {
	width:100%;
	height:66vh;
	z-index: 1;
	background-color: gray;
	overflow: hidden;
	object-position: center;
	display: flex;
}

image.cropimage {
	width:100%;
	height:100%;
	object-fit: cover;
}

div.spacer {
	width:100%;
	height:5vh;
	z-index: 1;
	background-color: #000;
	overflow: hidden;
}

/* CSS POSITION */
div.overlay {
	display: flex;
	position: relative;
	bottom: -20vh;
	z-index: 0;
	overflow: hidden;
	justify-content: flex-end;
	margin-bottom: -20vh;
}

p.overlaytext {
	padding: 2%;
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;
	text-align: right;
	max-width: 50%;
	min-width: 33%;
}

p.imagetext{
	color: white;
}

div.header {
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0);
	font-size: 3em;
	color: white;
	padding: 0.5em;
}

p.headertext {
	margin: 0;
}
div.lister {
	background-color: white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
div.post{
	width: 40vw;
	margin: 2.5vw;
}
div.widepost{
	width: 90vw;
	margin: 2.5vw;
}
p.title{
	text-align: center;
	font-size: 2em;
}
p.subtitle{
	text-align: center;
	font-size: 1.5em;
	color: gray;
}
p.content{
	text-align: center;
}
img.postimg{
	justify-content: center;
	width:100%;
	height:auto;
	object-fit: cover;
}
footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1%;
	margin-bottom: 0px;
}

/* Contact Link Styline */
a.contactLink:link, a.contactLink:visited{
	text-decoration: none;
	color: #000;
}

a.contactLink:hover, a.contactLink:active, a.contactLink:focus{
	text-decoration: none;
	color: #222;
	background-color: #f0f0f0;
}

/* Generic Link Styling */
a:link, a:visited{
	text-decoration: none;
	color: #888;
}

a:hover, a:active, a:focus{
	text-decoration: none;
	color: #000;
}