html, body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", "sans-serif";
}

#allText {
	position: relative;
	z-index: 5;
	width: 35vw;
	margin: 2vh -10% 2vh 12vw;
	/* Set to height of itself */
	margin-bottom: -30vh;
}

#textBox {
	position: relative;
	z-index: 5;
	width: 35vw;
	padding-left: 1vw;
	background-color: white;
	opacity: 0.75;
	border-radius: 5px;
}

#greeting {
	color: white;
	margin: 0;
}

#allImg {
	width: 100vw;
	max-width: 100%;
}
#background {
	position: relative;
	z-index: 0;
	/* Negative of Sum of heights of BOTH head and body */
	margin-bottom: -385px;
	height: auto;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
}
#body {
	position: relative;
	z-index: 1;
	/* Height of top */
	padding-top: 107px;
	/* Negative Height of body */
	margin-bottom: -279px;
	padding-left: 57%;
	max-width: 20vw;
	height: auto;
}
#head {
	position: relative;
	z-index: 1;
	/* Negative sum of width of body and half of width of head*/
	margin-left: -175px;
	max-width: 7.92vw;
	height: auto;
}

/* Menu CSS */
#menufix {
	display: flex;
	position: relative;
	z-index: 0;
	overflow: hidden;
	justify-content: flex-end;
}

/* Nav Bar CSS */
#navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	border-width: 1px;
	border-style: solid;
}

/* Align Left Elements */
a.navLeft {
	float: left;
}

a.navLeft:link, a.navLeft:visited{
	text-decoration: none;
	background-color: #000;
	color: white;
	font-weight: normal;
	padding: 1vw;
}

a.navLeft:hover, a.navLeft:active, a.navLeft:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 1vw;
}

/* Align Right Elements */
a.navRight {
	float: right;
}
a.navRight:link, a.navRight:visited{
	text-decoration: none;
	background-color: #000;
	color: white;
	font-weight: normal;
	padding: 1vw;
}

a.navRight:hover, a.navRight:active, a.navRight:focus{
	text-decoration: none;
	background-color: #fff;
	color: black;
	font-weight: lighter;
	padding: 1vw;
}

/* Special Page Layout CSS via DIV */
div.spacer {
	width:100%;
	height: 2.5vh;
	overflow: hidden;
}

.footer {
	padding: 1vw;
	overflow: hidden;
	background-color: black;
	border-width: 0px;
	border-style: solid;
	color: white;
	text-align: center;
}

#footerFix {
	width:100%;
	overflow: hidden;
}
